@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #f8fafc;
  --foreground: #1e293b;
  --primary: #10b981;
  --primary-foreground: #ffffff;
  --secondary: #64748b;
  --secondary-foreground: #ffffff;
  --accent: #14b8a6;
  --accent-foreground: #0f172a;
  --muted: #e2e8f0;
  --muted-foreground: #64748b;
  --hover-bg: #34d399;
  --hover-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #e2e8f0;
    --primary: #34d399;
    --primary-foreground: #0f172a;
    --secondary: #94a3b8;
    --secondary-foreground: #0f172a;
    --accent: #2dd4bf;
    --accent-foreground: #0f172a;
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    --hover-bg: #10b981;
    --hover-text: #ffffff;
  }
}

/* @layer base {
  html {
    font-family: var(--font-seppuri), system-ui, sans-serif;
  }
} */

.btn-primary {
  @apply bg-primary text-primary-foreground hover:bg-[var(--hover-bg)] transition-colors duration-200;
}

.link-primary {
  @apply text-primary hover:text-[var(--hover-bg)] hover:underline transition-colors duration-200;
}

.alert {
  @apply p-4 rounded-lg mt-4;
}

.alert-success {
  @apply bg-green-100 text-green-800 dark:bg-green-800 dark:text-green-100;
}

.alert-error {
  @apply bg-red-100 text-red-800 dark:bg-red-800 dark:text-red-100;
}

.loading {
  @apply inline-block w-4 h-4 border-2 border-primary border-t-transparent rounded-full animate-spin;
}

.dark {
  color-scheme: dark;
}




.ant-pagination-item-active {
  border-color: #10b981 !important;
}

.ant-pagination-item-active a {
  color: #10b981 !important;
}


/* Custom styles for Stats User/[id]/page.tsx*/
.stats {
  @apply rounded-xl;
}

.stat-value {
  @apply font-bold;
}

.stat-desc {
  @apply text-gray-500;
}

/* Hover effects */
.stat:hover {
  @apply bg-emerald-50 transition-colors duration-300;
}

/* Custom responsive styles */
@media (max-width: 768px) {
  .stats-vertical .stat {
    @apply border-b border-gray-200 last:border-b-0;
  }
}